body {
  margin: 0;
  font-family: "Josefin Sans", serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: url('./assest//home/background-home-desktop.jpg');
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
